@charset "UTF-8";

/*!
+---------------------------------------------------------------------+
|                                                                     |
| URL: http://gravityframework.com                                    |
| VERSION: 2.0.0                                                      |
| Github: https://github.com/owainlewis                               |
| LICENSE: Creative Commmons                                          |
| http://creativecommons.org/licenses/by/3.0                          |
|                                                                     |
+---------------------------------------------------------------------+
*/

// Core imports
// -----------------------------------------

@import 'normalize';
@import '../typography/typography';

// -----------------------------------------
*{margin:0; padding: 0;}
body {
    
}

.clear {
  clear: both;
}
.fixed{
    position: fixed;
}

// -----------------------------------------