{% extends 'layout.html' %}
{% block content %}
		<div id="dashboard">
			<h2>项目列表</h2>
			<a href="javascript:;" class="btn">+添加新的项目</a>
			<div id="projectlist">
				<ul>
					<li class="project"><a href="/products/116897" title="test">
							<h3>test</h3>
							<p class="updated_at">Last updated December 26, 2013</p>
							<p class="access">
								Owned by <strong>You</strong>. <br> 1 canvas. <br>
							</p>


							<ul class="collaborators">
								<li id="collaborator_98851">
									<div class="person">
										<div class="icon">
											<img alt="4cf3ba5645acc555f539f53b95f1e548?s=32&amp;d=mm"
												src="">
										</div>
									</div>
								</li>
							</ul>
					</a></li>
				</ul>

			</div>
		</div>
{% endblock%}