.dropdown{
    a{

    }
    ul{
        display: none;

    }
    ul.active{
        display:block;
        position: absolute;
        top: 52px;
        left: 0px;
        
        width: 103px;
        li{
            line-height: 32px;
            background-color: $green;
            border-bottom: solid 1px #fff;
            a{
                color: #FFF;
            }
        }

    }


}
