/* Tables
 * -------------------------------------------
 * Pretty HTML tables
 *
 */

table {
    width: 100%;
    padding: 0;
    text-align: left;
    th, td {
        padding: 10px;
        vertical-align: middle;
    }
    th {
        font-weight: bold;
    }
    tr {
        td{

        }
    }

}


// ZEBRA-STRIPING
// --------------

table.striped {
    tbody {
        tr:nth-child(odd) td {
            background-color: #f9f9f9;
        }
    }
}