#content{
    position: absolute;
    top: 60px;
    left: 0px;
    width: 100%;
}
#canvas{
    margin: 0px 50px;
}
.canvas {
    position: relative;
    border: solid 1px $black;
    .area{
        border: solid 1px $black;   
    }
    .short_help{
        color: #ddd;
    }
    .order {
        color: #0099ff;
        font-size: 5.0em;
        text-align: center;
    }
    .cell-container, .canvas-cell, .canvas-cell-main{
        height: 100%;
        width: 100%;
        margin-bottom: 0;
        vertical-align: top;
        background-color: #fff;
        position: relative;
        width: 100%;
        padding: 5px 0 0px 4px;
    }
    table {
        border-color: gray;
        tbody{
            tr{
                td{
                    //border: solid 1px $black;   

                }
            }
        }
    }

    .area-title {
        color: #222;
        font-size: 0.7em;
    }
    .help{position: absolute;
          top: 0px;
          right: 4px;}
}


