#canvas {
    position: relative;
    display: block;
    float: left;
    margin-top: 60px;
    width: 1024px;
}
#content{
    
}

.canvas {
    position: relative;
    border: solid 1px $black;
    .area{
        border: solid 1px $black;   
    }
    table {
        border-color: gray;
        tbody{
            .canvas-cell canvas-cell-main{
                position: relative;
                width: 100%;
                padding: 5px 0 0px 4px;

            }
            tr{
                td{
                    //border: solid 1px $black;   

                }
            }
        }
    }

    .area-title {
        color: #222;
    }
}


